{% load static %}
{% block createPost %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<style>
    input{
        width: 80%;
        height: 40px;
        margin: 20px 10%;
        border: solid 1px #4d4d4d;
        border-radius: 5px;
        background-color: transparent;
        color: white;
    }
    textarea{
        width: 80%;
        height: 100px;
        margin: 20px 10%;
        border: solid 1px #4d4d4d;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        padding: 10px;
    }
    #profile-dp{
        width: 50px; 
        height: 50px; 
        background-color: #000000; 
        border-radius: 25px;
        margin-left: 10%;
    }
    #create:hover{
        background-color: #ffffff;
        color: #121212;
    }
</style>
<body style="width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: #121212">
    <div class="d-flex vh-100 mt-2 mb-2">
        <div class="col-3"></div>
        <div class="col-6" style="border: solid 1px #4d4d4d; border-radius: 15px; padding-top: 100px">
            <div class="d-flex">
                <div id="profile-dp"></div>
                <div class="ms-2" style="color: white">Praise <br> @thenewsun</div>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="display: none">
                    {{form.post_author}}
                </div>
                {{form.post_caption}}
                {{form.post_img}}
                <input id="create" type="submit" value="Create">
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</body>
{% endblock %}